/* Setter standard skrifttype for hele nettsiden */
body {
  font-family: Arial;
  background-color: whitesmoke;
}

/* Definerer et grid-container som inneholder header, main og footer */
#grid-container {
  display: grid;
  grid-template-areas: "header" "main" "footer";
}

/* Legger til litt padding til header, main og footer for mellomrom */
header, main{
  padding: 0.5rem;
}


footer {
  text-align: center;
  padding: 5px;
  background-color: #abbaba;
  color: #000;
}

/* Styler header-seksjonen */
header {
  font-size: 1rem;
  font-weight: 700;
  grid-area: header;
  background-color: #10217c;
}



a:link, a:visited {
  color: black;
  text-decoration: none
}




header nav {
  display: flex;
  justify-content: space-between;
  position: relative;
}


main {
  grid-area: main;
}

main section img {
  width: 100%;
}

footer {
  grid-area: footer;
}


@media only screen and (min-width: 600px) {
  #grid-container {
      grid-template-areas: "header header header" "main main main" "footer footer footer";
  }

  .navbar {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      list-style: none;
      margin: 0;
  }

#produktkort {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #efefef;
  justify-content: space-between;
}

#produktkort article {
  max-width: 300px;
  width: 100%;
  min-width: 200px;
  border: 3px #00000099 solid;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
}

  .produkt {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  }

  .produkt img {
      width: 50%;
  }

  .produkt section {
      padding: 1rem;
      width: 40%;
      align-self: center;
  }

}